body {
    font-family: 'Poppins';
}

#quemsoueu{
    padding-top: 140px;
}

.montserrat{
    font-family: 'Montserrat';
}

#quemsoueu{
    padding-top: 140px;
}

.nav-item{
    display: flex;
}

.nav-item a{
    display: flex;
    justify-content: center;
}