.quemsoueu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.avatar,
.descricao {
  height: 300px;
  width: 300px;
}

.avatar {
  background-color: orange;
}

.descricao {
  background-color: brown;
}