.quemsoueu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.avatar,
.descricao {
  height: 300px;
  width: 300px;
}

.avatar {
  background-color: orange;
}

.descricao {
  background-color: brown;
}

div>div>p {
    text-shadow: 1px 1px 1px white;
}