.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.hover:hover {
  background-color: rgb(36, 34, 28);
}

.hr-recuo {
  margin: 4px 4px;
}

.formacao {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cursos {
    background-color: coral;
    display: flex;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lista-cursos {
    background-color: bisque;
    width: 90%;
    height: fit-content;
  }
  
  .curso {
    width: 100%;
    background-color: darkcyan;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }  