p {
    text-shadow: 1px 1px 1px rgb(224, 219, 219);
}

footer {
    /* background-color: gray; */
    width: 100%;
    height: auto;
}

.rodape {
    /* background-color: rgb(155, 79, 190); */
    padding: 0 80px;
}

.social-networking {
    margin-top: 20px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    height: auto;
}

hr {
    margin: 0px;
}

.info-compl {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}