nav {
  font-family: 'Poppins';
  color: white;
}

header {
  grid-area: header;
  left: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.bi-brightness-high-fill {
  font-size: 1.1rem;
}

nav>div>a {
  text-decoration: none;
  color: white;
}

nav>div>button {
  font-size: 28px;
}

nav>div>div {
  list-style-type: none;
}

.nav-item{
  display: flex;
}

.nav-item a{
  display: flex;
  justify-content: center;
}

.imgcinza{
  filter:grayscale(1);
}