/* CONFIGURAÇÕES INICIAIS */

html {
  background-color: rgb(39, 39, 39);
}

a, a:visited, a:active, a:hover {
  color: white;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 80px;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "foot";
  grid-template-rows: 100px 1fr 70px;
  font-family: 'Poppins';
  color: white;
  background-color: rgb(39, 39, 39);
}

/* SCSS */

@media (max-width: 600px) { /* MOBILE */
  .nav-item{
          display: block;
  }

  .showweb{
          display: none;
  }
}
@media (min-width: 601px){ /* WEB */
  .showmobile {
      display: none;
  }

  .nav-link:before{ /* EFEITO ABAIXO DOS LINKS */
      justify-content: center;
      content: '';
      position: absolute;
      height: 6px;
      bottom: 24px;
      width: 0px;
      border-radius: 100%;
      background: rgb(70, 70, 70);
      transition: .5s;
  }

  .nav-link:hover:before{
      width: 5%;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }

  nav {
    display: block;
    padding: 0 20px;
  }

  .logo {
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
  }

  .menu {
    display: block;
  }

  main {
    margin-top: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 1px solid black;
    background-color: aliceblue;
  }

  .quemsoueu {
    margin: 10px;
    display: block;
  }

  .avatar {
    margin-bottom: 30px;
  }

  .cursos {
    height: 31%;
  }

  .projetos {
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .listaprojetos {
    padding: 10px;
    display: block;
    width: 90%;
    height: 90%;
  }

  .projeto {
    width: 95%;
    height: 400px;
    margin-top: 30px;
  }
}