/* CONFIGURAÇÕES INICIAIS */

html {
  background-color: rgb(39, 39, 39);
  color: white;
}

a, a:visited, a:active, a:hover {
  color: white;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 80px;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "foot";
  grid-template-rows: 100px 1fr 70px;
  font-family: 'Poppins';
  color: white;
  background-color: rgb(39, 39, 39);
}

/* MENU */



/* CONTEUDO */

main {
  grid-area: main;
  width: 100%;
  background-color: blue;
}

.quemsoueu {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.avatar,
.descricao {
  height: 300px;
  width: 300px;
}

.avatar {
  background-color: orange;
}

.descricao {
  background-color: brown;
}

.formacao {
  background-color: darkkhaki;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursos {
  background-color: coral;
  display: flex;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-cursos {
  background-color: bisque;
  width: 90%;
  height: fit-content;
}

.curso {
  width: 100%;
  background-color: darkcyan;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.projetos {
  background-color: brown;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaprojetos {
  border: 3px solid purple;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projeto {
  border: 1px solid green;
  width: 20%;
  height: 80%;
}

h1,
.imgproj,
.descproj {
  border: 1px solid gray;
}

h1 {
  display: flex;
  justify-content: center;
}

.imgproj {
  width: 100%;
  height: 40%;
}

.descproj {
  margin-top: 10px;
  width: 100%;
  height: 30%;
}

/* RODAPÉ */

footer {
  grid-area: foot;
  /* background-color: gray; */
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.rodape {
  /* background-color: rgb(155, 79, 190); */
  padding: 0 80px;
}

.social-networking {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0;
}

.info-compl {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCSS */

@media (max-width: 600px) { /* MOBILE */
  .nav-item{
          display: block;
  }

  .showweb{
          display: none;
  }
}
@media (min-width: 601px){ /* WEB */
  .showmobile {
      display: none;
  }

  .nav-link:before{ /* EFEITO ABAIXO DOS LINKS */
      justify-content: center;
      content: '';
      position: absolute;
      height: 6px;
      bottom: 24px;
      width: 0px;
      border-radius: 100%;
      background: purple;
      transition: .5s;
  }

  .nav-link:hover:before{
      width: 5%;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }

  nav {
    display: block;
    padding: 0 20px;
  }

  .logo {
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
  }

  .menu {
    display: block;
  }

  main {
    margin-top: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 1px solid black;
    background-color: aliceblue;
  }

  .quemsoueu {
    margin: 10px;
    display: block;
  }

  .avatar {
    margin-bottom: 30px;
  }

  .cursos {
    height: 31%;
  }

  .projetos {
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .listaprojetos {
    padding: 10px;
    display: block;
    width: 90%;
    height: 90%;
  }

  .projeto {
    width: 95%;
    height: 400px;
    margin-top: 30px;
  }
}